[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "VsusP"]
	path = VsusP
	url = https://github.com/nilson01/vsusp-variable-selection-using-shrinkage-priors
